<!--<div class="horizontal-scroll-wrapper">
    <div *ngFor="let data of list" class="forecast">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>-->
<div class='container'>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Movie title</th>
                <th>Director</th>
                <th>Release</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of list">
                <td>{{data.title}}, episode {{data.episode_id}}</td>
                <td>{{data.director}}</td>
                <td>{{data.release_date}}</td>
            </tr>
        </tbody>
    </table>
</div>