.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    text-align: center;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: black;
    color: yellow;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    border: 1px solid white;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes .text {
    position: relative;
    top: -3px;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

.bio-details h1{
    text-align: center;
    font-size: large;
    background-color: black;
    color: yellow;
    padding: 5px;
  }

  .lightsabre {
	/*border: 2px dashed yellow;*/
	align-items: center;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	animation: swipe 1.3s forwards;
	
}

.handle{	
	height: 100px;
	width: 200px;
	background-image: url("../../assets/rsz_lightsaber-hilt.png");
	background-repeat: no-repeat;
    background-position: center; 
	background-size: contain;
}

.handle img {	
	border: dashed 2px red;
}

.beam {
	height: 30px;
	color:transparent;
	background-color:transparent;
	width: 0%;
	animation: voom 1.8s forwards;
	text-align: center;
	font-size: 2.0em;
}

/*.handle:hover + .beam {
	animation: voom 1.2s forwards; 
}

.lightsabre:hover {
	animation: swipe 1.2s forwards;  
}*/

@keyframes swipe{
	0%{ transform: rotate(-135deg); transform-origin: left;}
}

@keyframes voom {
	0% { 
		background-color:transparent; 
		
	 }
	30% { width: 0%; background-color:green; color:transparent;}
	100% { width: 100%; -webkit-box-sizing: content-box; 
	  border: none;
	  -webkit-border-radius: 0 2px 2px 0;
	  border-radius: 0 5px 5px 0;
	  color: white;
	  text-align: center;
	  -o-text-overflow: ellipsis;
	  text-overflow: ellipsis;
	  background: #eaf0f2;
	  -webkit-box-shadow: 0 0 2px -3px rgba(31,226,57,0.95) , 0 0 15px 8px rgba(62,201,80,0.75) inset, 0 0 15px 8px rgba(62,201,80,0.75) ;
	  box-shadow: 0 0 2px -3px rgba(31,226,57,0.95), 0 0 2px -3px rgba(31,226,57,0.95) inset , 0 0 15px 8px rgba(62,201,80,0.75) inset, 0 0 15px 8px rgba(62,201,80,0.75) ;
	  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
	  }
}